<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block Post %}
    <h1>My profile</h1>
    {{ user.email }}
    {{ user.get_full_name }}
    <a href="{% url "logout" %}">LogOut</a>
    <a href="{% url 'feedback' %}">Обратная связь</a>
    {% if user.is_superuser %}
        <a href="{% url 'view_feedback' %}">Просмотреть ОС</a>
    {% endif %}

    <a href="{% url "Post" %}">Добавить фильм</a>
{% endblock %}
</body>
</html>