{% extends "wrapper.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Обратная связь</h2>
{% for message in messages %}
    <div class="{{ message.tags }}">{{ message }}</div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ feedback_form.as_p }}
    <input type="submit" value="Отправить">
</form>
</body>
</html>