<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/style-films.css">
</head>
<body>
<div class="header">
	<div class="logo">
		<a href="{% url 'home' %}"><h3 class="logo-text">Главная</h3></a>
	</div>
</div>
<div class="content">
		<table border="1">
			<td>
				
			</td>
		</table>
	</div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$('#sidebar-btn').click(function(){
			$('#sidebar').toggleClass('visible');
		});
	});

	</script>
</body>
</html>