<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
        <h2>Посмотреть фидбеки</h2>
<table border="1" style="width: 100%;">
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Текст</th>
    </tr>
    {% for feedback in feedbacks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ feedback.name }}</td>
            <td>{{ feedback.email }}</td>
            <td>{{ feedback.text }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>